main {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.list {
  list-style-type: none;
  padding: 0 30vw;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
  padding: 2vw;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.card :last-child{
  margin-bottom: 0;  
}

.card-content {
  flex: 1;
  display: flex;
  align-items: center;
}
.card-content input[type="checkbox"] {
  transform: scale(2); /* Increase the scale value to make it bigger */
  margin-right: 10px; /* Add some margin for spacing */
}

.card-content label {
  flex: 1;
  text-align: center; /* Add this line to align the label in the center */
  font-size: 2vw;
}


.item-checked {
  text-decoration: line-through;
}

.delete-btn {
  cursor: pointer;
  margin-left: 10px;
  font-size: 2vw;
  color: green;

}

.delete-btn:hover {
  color: red;
}

.centered {
  text-align: center;
}
