nav{
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
  background-color: #333;
}
ul.flex{
 padding: 1.5vw 10vw;
}
ul li{  
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li a{
  text-decoration: none; 
  font-size: 1.3vw;
  color: whitesmoke;
}
.calendar{
  display: flex;
  justify-content: space-between;
  margin: 0 1vw;
}

.greetings{
  margin-top: -5vw;
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-bottom: -2vw;
}
.greetings button{
  height: 3vw;
  margin-top: 1vw;
}