nav{
  margin-top: 1vw;
  background-color: #333;
}
ul{
 display: inline-flex;
 gap: 2vw;
 justify-content: space-around;

}
ul li{
  list-style: none;
  display: inline-flex;
  padding: 0 1vw 0 0;
}

ul li a{
  text-decoration: none; 
  font-size: 1.3vw;
  color: whitesmoke;
}
.calendar{
  display: flex;
  justify-content: space-between;
  margin: -1vw 1vw;
}

.greetings{
  margin-top: -5vw;
}
